* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    width: 100%;
    height: 100vh;
    background-color: #121212;
    color: white;
}
body.ativo {
    background-color: white;
    color: black;
}
.container {
    display: grid;
    grid-template: 10fr 0.1fr / 100%;
    gap: 20px;
}
#main {
    width: 100%;
    padding: 10px;
    
    grid-area: 1 / 1 / 2 / 1;
}
#main nav {
    margin: 20px 0;
}
#main ul {
    display: flex;
    list-style-type: none;
}
#main .botoesHome {
    padding: 10px;
    margin: 5px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    transition: .4s ease-in-out;
    background-color: #1ED760;
}
#main .botoesHome:hover {
    background-color: #16A34A;
}
#respostaConteudoAssistido {
    display: flex;
    flex-flow: wrap;
    justify-content: flex-start;
    margin: 30px 0;
    width: 100%;
}



.conteudo {
    display: flex;
    background-color: #3a3a3a;
    width: 150px;
    align-items: center;
    border-radius: 10px;
    margin: 5px;
    cursor: pointer;
    transition: .4s ease-in-out;
}
.conteudo:hover {
    background-color: #3a3a3a88;
}
.imagemConteudo {
    border-radius: 10px;
    width: 30px;
}
.conteudo p{
    margin: 5px;
    font-size: .8em;
}

/* conteudo relacionado a imagens laterais */

.imagensLaterais {
    display: flex;
    overflow-x: auto;
    scrollbar-color: #555555 #202020;
    scrollbar-width: thin;
    margin: 50px 0;
    cursor: pointer;
}
.imagemLateral {
    width: 200px;
    height: 200px;
    margin: 10px;
    border-radius: 10px;
    padding: 0px;
}
.imagemLateral:hover {
    background-color: #3a3a3a;
}

/* musicas */

.musicasPodcasts {
    margin: 50px 0;
}
.imagemNomeMusica {
    position: relative;
}
.botaoPlay {
    opacity: 0;
    cursor: pointer;
    position: absolute;
    background-color: #1ED760;
    border: none;
    border-radius: 50%;
    padding: 20px;
    top: 130px;
    left: 120px;
    transition: .4s ease-in-out;
}
.imagemNomeMusica:hover .botaoPlay{
    opacity: 1;
    top: 120px;
}
iframe {
    margin: 50px 10px;
    width: 700px;
    height: 200px;
    border-radius: 10px;
    transition: .2s ease-in-out;
}
iframe:hover {
    transform: scale(1.2);
}
#nav {
    grid-area: 2 / 1 / -1 / 1;
    
    position: fixed;
    bottom: 1px;
    padding: 10px;
    width: 100%;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.518), black);
}
#nav ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}
#nav button {
    cursor: pointer;
    display: flex;
    flex-flow: column;
    gap: 5px;
    justify-content: center;
    align-items: center;
    width: 100px;
    border: 0;
    color: white;
    background-color: transparent;
}